*.iml
.gradle
.idea
/local.properties
.DS_Store
/build
/file
/app/build
/captures
.externalNativeBuild
mall-mini-program/.idea
mall-mini-program/node_modules
mall-mini-program/miniprogram_npm
mall-mini-program/config