/**
 * 获取销售价格
 */
function mainPrice(price, discountPrice) {
    if (!discountPrice) {
        // 折扣价不存在，主价格是原价
        return {
            price: price,
            display: true
        }
    } else {
        // 折扣价存在，主价格是折扣价
        return {
            price: discountPrice,
            display: true
        }
    }
}

/**
 * 获取划线价格
 */
function slashedPrice(price, discountPrice) {
    if (discountPrice) {
        // 折扣价存在，划线价是原价
        return {
            price: price,
            display: true
        }
    } else {
        // 折扣价不存在，划线价不存在
        return {
            price: null,
            display: false
        }
    }
}

// WXS只可以使用ES5
module.exports = {
    mainPrice: mainPrice,
    slashedPrice: slashedPrice
}